* {
  font-family: sans-serif;
}

.full-page {

  height: 900px;
  width: 950px;
  margin: 30px auto;
  position: relative;

  box-shadow: 2px 0px 5px 10px lightgrey;
}

.header1 {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.lg {
  height: 40px;
  margin: 30px;
}

.a1 {
  color: rgb(100, 95, 95);
  margin: 20px;
}

.a2 {
  color: rgb(100, 95, 95);
  margin: 20px;
}

.bg-img {
  height: 450px;
  width: 950px;
}

.header {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10%;
  left: 30px;
  right: 30px;
  text-align: center;

}

select {
  position: absolute;
  top: 30%;
  left: 40%;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.767);
}

.box {
  height: 380px;
  position: absolute;
  top: 40%;
  left: 20px;
  right: 20px;
  margin: 5px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.box1 {
  border-radius: 30px;
  background-color: white;
  text-align: center;
  width: 250px;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 10px lightslategray;
}

.box2 {
  border-radius: 30px;
  background-color: rgb(147, 250, 249);
  text-align: center;
  width: 250px;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 10px lightslategray;


}

.box3 {
  border-radius: 30px;
  background-color: white;
  text-align: center;
  width: 250px;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 10px lightslategray;
}

.footer {
  height: 90px;
  width: 950px;
  color: white;
  position: absolute;
  bottom: 0px;
  text-align: center;
  align-items: center;
  background-color: #333333;
}

.p1 {
  font-size: 35px;
  color: #800EF1;
  margin-bottom: 0%;
}

.p2 {
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 0%;

}

.p3 {
  margin-top: 0%;
  font-size: 18px;
}

.p4 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px;
}

.btn {
  font-size: 17px;
  width: 180px;
  border: none;
  padding: 15px;
  background-color: #800EF1;
  color: white;
  border-radius: 30px;

}

@media screen and (max-width: 640px) {
  .box {
      width: 400px;
      flex-direction: column;
  }

  .bg-img {
      width: 400px;
  }

  .header {
      width: 350px;
      font-size: 10px;
  }

  .header1 {
      width: 400px;
  }

  .footer {
      width: 400px;
      bottom: 0%;
  }

  .full-page {
      height: 2000px;
      width: 400px;
  }
}
